---
import Image from '../common/Image.astro'
import logo from '~/assets/images/logo.png'
import { SITE } from '~/utils/config'
import { getHomePermalink } from '~/utils/permalinks'
---

<footer class:list={['relative border-t border-gray-200']}>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="inline-flex justify-center w-full py-8 md:py-12">
      <a class="inline-flex flex-col items-center text-center gap-2 text-sm" href={getHomePermalink()}>
        <Image src={logo} alt={SITE.name} width={30} />
        <div class="text-muted font-medium leading-4">Uncensorable <br />Decentralized AI</div>
        <div class="font-bold">enqAI</div>
      </a>
    </div>
  </div>
</footer>
