---
import { Image } from 'astro:assets'
import logo from '~/assets/images/logo.svg'
import { SITE } from '~/utils/config'
---

<footer class:list={['relative border-t border-gray-200']}>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="inline-flex flex-col w-full items-center text-center gap-2 text-sm py-8 md:py-12">
      <Image src={logo} alt={SITE.name} width={30} />
      <div class="text-muted font-medium leading-4">Uncensorable <br />Decentralized AI</div>
      <div class="font-bold">enqAI</div>
    </div>
  </div>
</footer>
