---
import Image from '~/components/common/Image.astro'
import feature1Logo from '~/assets/images/feature1.png'

const features = [
  {
    title: 'GENERATE IMAGES, \nAUDIO & VIDEOS',
    description:
      'Our state of the art models put ultimate creative power at your fingertips. No banned words. Any voice.',
    image: feature1Logo,
  },
  {
    title: 'MAKE A LIVING AS A \nGPU PROVIDER',
    description: 'By becoming an enqAI node you can earn money for the inferences requested by users worldwide.',
    image: feature1Logo,
  },
  {
    title: 'UNBIASED LLM',
    description:
      'Our LLM will be the first of its kind. Uncensored. Unbiased. Decentralized. Use it to analyze financial datasets, medical studies or on adult content.',
    image: feature1Logo,
  },
]
---

<section class="relative md:-mt-[76px] not-prose">
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
    <div class="bg-secondary border border-primary rounded-xl shadow-2xl">
      <div class="text-center max-w-5xl mx-auto mt-10 mb-14 md:mt-16 md:mb-24">
        <h1 class="text-3xl md:text-4xl font-medium md:leading-8 tracking-tight mb-4 md:mb-8 font-heading">
          Uncensorable <br />Decentralized AI
        </h1>
        <div class="w-5/6 md:max-w-xl mx-auto">
          <p class="text-sm font-medium leading-5">
            enqAI introduces unrestricted AI. From image and audio generation to large language models. Fully powered by
            a decentralized network of GPU nodes. This way we keep our models free of
            <span class="text-primary">hidden</span> biases, <span class="text-primary">political agendas</span> and
            <span class="text-primary">censorship</span>
          </p>
        </div>
      </div>
      <div class="flex flex-col md:flex-row w-full border-t border-primary">
        {
          features.map(({ title, description, image }) => (
            <div class="flex flex-col justify-start items-center w-full text-center py-6 border-r border-primary last:border-r-0">
              <h2 class="flex items-center text-xl font-bold whitespace-pre-line h-20 leading-5">{title}</h2>
              <Image src={image} alt={title} width={150} class="mt-5 mb-14 mx-auto" />
              <p class="text-sm font-medium leading-5 w-5/6 mx-auto">{description}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
