---
import { Image } from 'astro:assets'
import enqaiLogo from '~/assets/images/logo.svg'
import { SITE } from '~/utils/config'
---

<Image src={enqaiLogo} alt={SITE.name} width={26} />
<span class="self-center ml-2 text-xl font-medium whitespace-nowrap"> enqAI</span>
