---
import Image from '~/components/common/Image.astro'
import enqaiLogo from '~/assets/images/logo.png'
import { SITE } from '~/utils/config'
---

<Image src={enqaiLogo} alt={SITE.name} width={36} />
<span class="self-center ml-2 text-2xl md:text-xl font-normal text-gray-900 whitespace-nowrap"> enqAI</span>
